<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lilac.mapper.UserMapper">
    <insert id="save">
        insert into user (username, password, nickname, phone, email, create_time, update_time, del_flag)
        values (#{username}, #{password}, #{nickname}, #{phone}, #{email}, #{createTime}, #{updateTime}, #{delFlag})
    </insert>
</mapper>