<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lilac.mapper.UserMapper">
    <insert id="save">
        insert into user (username, password, nickname, phone, email, create_time, update_time, del_flag)
        values (#{username}, #{password}, #{nickname}, #{phone}, #{email}, #{createTime}, #{updateTime}, #{delFlag})
    </insert>

    <update id="update">
        update user set username = #{username}, password = #{password}, nickname = #{nickname}, phone = #{phone}, email = #{email}, update_time = #{updateTime} where id = #{id}
    </update>

    <select id="listAll" resultType="com.lilac.domain.entity.User">
        select * from user where del_flag = 0 order by id
    </select>

    <select id="pageList" resultType="com.lilac.domain.entity.User">
        select * from user
        <where>
            del_flag = 0
            <if test="username != null and username != ''">
                username like concat('%', #{username}, '%')
            </if>
        </where>
    </select>
</mapper>