<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lilac.mapper.UserMapper">
    <insert id="save">
        insert into user (user_name, password, nick_name, avatar, phone, email, status, type, create_time, update_time, del_flag)
        values (#{userName}, #{password}, #{nickName}, #{avatar}, #{phone}, #{email}, #{status}, #{type}, #{createTime}, #{updateTime}, #{delFlag})
    </insert>

    <update id="update">
        update user
        <set>
            <if test="userName != null and userName != ''">
                user_name = #{userName},
            </if>
            <if test="password != null and password != ''">
                password = #{password},
            </if>
            <if test="nickName != null">
                nick_name = #{nickName},
            </if>
            <if test="avatar != null">
                avatar = #{avatar},
            </if>
            <if test="phone != null">
                phone = #{phone},
            </if>
            <if test="email != null">
                email = #{email},
            </if>
            <if test="type != null">
                type = #{type},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
        </set>
        where id = #{id}
    </update>

    <select id="pageList" resultType="com.lilac.domain.entity.User">
        select * from user
        <where>
            del_flag = 0
            <if test="userName != null and userName != ''">
                AND user_name like concat('%', #{userName}, '%')
            </if>
        </where>
    </select>
</mapper>